name: Send alerts for Singapore time zone

env:
  MIX_ENV: prod

on:
  push:
    branches: [master]
  schedule:
    # Everyday at 9 AM
    - cron: '00 01 * * *'
    # Everyday at 3 PM
    - cron: '00 07 * * *'
    # Everyday at 9 PM
    - cron: '00 13 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-elixir@v1
        with:
          otp-version: 22.3
          elixir-version: 1.10.2

      - name: Install dependencies
        run: mix deps.get

      - name: Send hacker news email alerts
        shell: bash
        env:
          GMAIL_USERNAME: ${{ secrets.GMAIL_USERNAME }}
          GMAIL_PASSWORD: ${{ secrets.GMAIL_PASSWORD }}
        run: mix hacker_news_alert +8:00
